/************************
01 General Styles
************************/

html {
  font-size: 0.875em !important;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', serif;
  font-weight: 300,400,500,700,900;
  line-height: 1.45;
  color: #3f4040;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.3em;
  font-size: 1em;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300 !important;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
   margin: 0 0 10px 0;
}

h2 {
  font-size: 1.953em;
   margin: 0 0 10px 0;
}

h3 {
  font-size: 1.563em;
   margin: 0 0 10px 0;
}

h4 {
  font-size: 1.25em;
   margin: 0 0 0 0;
}

a {
  color: dodgerblue;
}

a:hover {
  text-decoration: none;
  color: #3f4040;
}

.main-color {
  color: dodgerblue;
}

.main-logo a {
  color: #f9f9f9 !important;
  font-weight: 300;
}

.main-logo a:focus {
  text-decoration: none !important;
}

i {
  font-size: 1em !important;
}


/************************
02 Menu Styles
************************/

.navbar {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
}

#main-background {
  float: left;
  height: 700px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100px;
}

.navbar-inverse .navbar-nav>li {
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a {
  color: gray;
}

.navbar-inverse .navbar-nav>li>a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.navbar .navbar-links i {
  display: inline-block;
  padding: 13px 10px;
  margin: 0;
}

.navbar p.navbar-links i {
  color: gray !important;
}

.navbar p.navbar-links i:hover {
  color: #f9f9f9 !important;
}

 ul.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.49);
}

ul.dropdown-menu li a {
  color: gray;
  padding-top: 12px;
}

ul.dropdown-menu li a:hover {
  background-color: transparent;
  color: #f9f9f9;
}

.navbar-inverse .navbar-nav>.open>a {
  background-color: transparent !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

@media (max-width: 768px) {
  /* Navbar positioning foo */
  .navbar {
    margin-top: 0px;
    width: 100%;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


  .featurette-heading {
    font-size: 50px;
  }
}

.main-text {
  position: relative;
  width: 100%;
}

/************************
03 Buttons
************************/




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/************************
04 Footer
************************/

#footer-bottom {
  background-color: #333;
  float: left;
  width: 100%;
  color: #f9f9f9;
  height: 100px;
  margin: 0;
  padding: 45px 0;
}

#footer-bottom i {
  margin: 0 10px 0 10px;
  color: lightgray;
}

#footer-bottom i:hover {
  margin: 0 10px 0 10px;
  color: #f9f9f9;
}

#copyright {
  float: left;
  height: auto;
  width: 100%;
}

#copyright p {
  color: lightgray;
}